@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

body {
	background-color: #3aaf9f;
}

.wrapper {
	max-width: 80%;
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 60px 45px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
}

.wrapper2 {
	max-width: 80%;
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 60px 45px;
	position: absolute;
	margin-top: 800px;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
}

.title{
	margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #3aaf9f
}

.form .input_field{
	position: relative;
	margin-bottom: 10px;
}

.form .input_field .input{
	width: 100%;
	padding: 12px;
	padding-left: 30px;
	border: none;
	background-color: #eeeeee;
}

.form .btn{
	width: 70%;
	margin: 20px auto 0;
	background-color: #3aaf9f;
	padding: 12px;
	text-align: center;
	border-radius: 30px;
	
}

.form .btn a{
	color: #fff;
}

table{
	border-collapse:collapse;
	width: 100%;
}

th {
	border-bottom: 1px solid #ddd;
	height: 50px;
	background-color: #3aaf9f;
	color: #fff;

}

td {
	border-bottom: 1px solid #ddd;
	height: 50px;
	padding: 15px
}